:root {
	--container-bg: hsl(217, 54%, 11%);
	--card-bg: hsl(216, 50%, 16%);
	--line: hsl(215, 32%, 27%);

	--white: hsl(0, 0%, 100%);;
	--link-hover: hsl(178, 100%, 50%);
	--color-text: hsl(215, 51%, 70%);
}